{% if cryptos_detail %}
    <table border="2">
    <tr>
        <td><b>S.no</b></td>
        <td><b>Name</b></td>
        <td><b>Market Cap</b></td>
        <td><b>Price</b></td>
        <td><b>Volume(24h)</b></td>
        <td><b>Change(24h)</b></td>
        <td><b>Graph(7d)</b></td>
    </tr>

    {% for cryptos in cryptos_detail %}
        <tr>
            <td>
                {{ cryptos.id }}
            </td>
            <td>
                <img src="{{ cryptos.crypto_logo }}">
            {{ cryptos.crypto_name }}
            </td>
            <td>
                {{ cryptos.crypto_market_cap }}
            </td>
            <td>
            {{ cryptos.crypto_price }}
            </td>
            <td>
            {{ cryptos.crypto_volume }}
            </td>
            <td>
            {{ cryptos.crypto_change }}
            </td>
        <td>
            <img src="{{ cryptos.crypto_graph }}">
        </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
